@import "tailwindcss";

@tailwind utilities;

:root {
  font-family: "Inter", "Trebuchet MS", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: #141414;
  background-color: #FCFCFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@theme {
  --color-muted-white: '#FCFCFC';
  --color-secondary: '#9D9D9D';
}


@layer components {
  .section {
    @apply h-screen w-full max-w-[90rem] px-4 sm:px-6 lg:px-8 !mx-auto sticky top-0
  }

  .nav-link {
    color: #141414;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: "Inter Tight", "sans-serif";
    line-height: 115%;
    position: relative;
    max-width: fit-content;
  }

  .nav-link:hover::after,
  .contact-head.main:hover::after {
    transform: scaleX(1);
  }

  .nav-link::after,
  .contact-head.main::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease-out;
  }

  .nav-link::after {
    height: 2px;
    background-color: #141414;
    transform-origin: bottom left;
  }

  .contact-head.main::after {
    height: 4px;
    background-color: #FCFCFC;
    transform-origin: bottom right;
  }

  .superscript::after {
    vertical-align: super;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1em;
    pointer-events: none;
    content: "(6)";
  }

  .contact-head {
    font-family: "Inter Tight", Trebuchet MS, sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.05em;
    max-width: fit-content;
  }

  .contact-head.main {
    font-size: 7.8rem !important;
    position: relative;
    
  }

  .about-button {
    padding-inline: 2.87rem;
    height: 3.28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FCFCFC;
    background-color: #141414;
    position: relative;
    border-radius: 9999px;
    transform-origin: center;
    font-size: .75rem;
    max-width: fit-content;
  }

}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {   
    display: none;  
  }
}

